<!-- change password form -->
<div class="row radius justify-content-center">
    <div class="col-md-8 ">
        <div class="card border-bottom-0">
            <div class="card-body card-bg">
                <h1 class="text-center">Reset Password</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body ">
                <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"
                                        aria-hidden="true"></i></span>
                                <input type="password"
                                    [ngClass]="{'is-invalid': (registerForm.controls.password.touched || submitted) && (registerForm.controls.password.errors?.required ||registerForm.controls.password.errors),
                                'is-valid': ((registerForm.controls.password.touched ) && !registerForm.controls.password.errors?.required && !registerForm.controls.password.errors)}"
                                    formControlName="password" class="form-control" placeholder="New Password"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"
                                        aria-hidden="true"></i></span>
                                <input type="password"
                                    [ngClass]="{'is-invalid': (registerForm.controls.confirmpassword.touched || submitted) && (registerForm.controls.confirmpassword.errors?.required ||registerForm.controls.confirmpassword.errors),
                                 'is-valid': ((registerForm.controls.confirmpassword.touched ) && !registerForm.controls.confirmpassword.errors?.required && !registerForm.controls.confirmpassword.errors)}"
                                    formControlName="confirmpassword" class="form-control"
                                    placeholder="Confirm Password" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success form-control mr-3">SUBMIT<span
                            class="fa fa-paper-plane" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
