 /* hr.style1 {
            border-top: 1px solid #8c8b8b;
        }


        .img {
            max-height: 250px;
        }

        @media (min-width: 800px) {
            .img {
                max-height: 200px;
            }
        }

        @media (min-width: 1000px) {
            .img {
                max-height: 100px;
            }
        } */

        .fa-small {
            font-size: 12px;
        }