
thead{
  background-color: #83c5be;
}
table{
  background-color: #dbe7e4;
}
    

  .updateIcon{
    font-size:30px;
    color:rgb(10,2,116); 
    cursor:pointer;
  }
  .deleteIcon{
    font-size:30px;
    color:red; 
    cursor:pointer;
  }
    
