<!-- form for register employee -->
<div class="row radius justify-content-center">
    <div class="col-md-8 ">
        <div class="card border-bottom-0">
            <div class="card-body card-bg">
                <h1 class="text-center"> Employee Registration <div class=" d-inline"><i class="fa fa-user-circle" aria-hidden="true"></i></div> </h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body ">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row  ">
            <div class="col-sm-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"
                    aria-hidden="true"></i></span>
                <input type="text"
                  [ngClass]="{'is-invalid': (registerForm.controls.fname.touched || submitted) && (registerForm.controls.fname.errors?.required ||registerForm.controls.fname.errors),
                                'is-valid': ((registerForm.controls.fname.touched ) && !registerForm.controls.fname.errors?.required && !registerForm.controls.fname.errors)}"
                  formControlName="fname" class="form-control" placeholder="First Name" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  first name is required & only charactors are allowed.
                </div>
              </div>
            </div>
            <!-- registerForm.controls.fname.touched -->
            <div class="col-sm-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"
                    aria-hidden="true"></i></span>
                <input type="text"
                  [ngClass]="{'is-invalid': (registerForm.controls.lname.touched || submitted) && (registerForm.controls.lname.errors?.required ||registerForm.controls.lname.errors),
                                'is-valid': ((registerForm.controls.lname.touched ) && !registerForm.controls.lname.errors?.required && !registerForm.controls.lname.errors)}"
                  formControlName="lname" class="form-control" placeholder="Last name" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  lastname is required And only charactors are allowed.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"
                    aria-hidden="true"></i></span>
                <input type="text"
                  [ngClass]="{'is-invalid': (registerForm.controls.email.touched || submitted) && (registerForm.controls.email.errors?.required ||registerForm.controls.email.errors),
                                'is-valid': ((registerForm.controls.email.touched ) && !registerForm.controls.email.errors?.required && !registerForm.controls.email.errors)}"
                  formControlName="email" class="form-control" placeholder="Email address" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  email is mandatory field. Please enter valid email for eg. abc@gmail.com
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password"
                  [ngClass]="{'is-invalid': (registerForm.controls.password.touched || submitted) && (registerForm.controls.password.errors?.required ||registerForm.controls.password.errors),
                                'is-valid': ((registerForm.controls.password.touched ) && !registerForm.controls.password.errors?.required && !registerForm.controls.password.errors)}"
                  formControlName="password" class="form-control" placeholder="Password" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  password is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password"
                  [ngClass]="{'is-invalid': (registerForm.controls.confirmpassword.touched || submitted) && (registerForm.controls.confirmpassword.errors?.required ||registerForm.controls.confirmpassword.errors),
                                 'is-valid': ((registerForm.controls.confirmpassword.touched ) && !registerForm.controls.confirmpassword.errors?.required && !registerForm.controls.confirmpassword.errors)}"
                  formControlName="confirmpassword" class="form-control" placeholder="Confirm Password"
                  aria-label="Username" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  please enter the same password entered in password field.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text"
                  [ngClass]="{'is-invalid': (registerForm.controls.mobileNo.touched || submitted) && (registerForm.controls.mobileNo.errors?.required ||registerForm.controls.mobileNo.errors),
                                'is-valid': ((registerForm.controls.mobileNo.touched ) && !registerForm.controls.mobileNo.errors?.required && !registerForm.controls.mobileNo.errors)}"
                  formControlName="mobileNo" class="form-control" placeholder="Mobile Number" aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  only digits are allowed and must start with number 6 onwards.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-server"
                    aria-hidden="true"></i></label>
                <select formControlName="role" class="form-select" id="inputGroupSelect01">
                  <!-- <option selected disabled>Choose Role</option> -->
                  <option value="DEPARTMENT HEAD">DEPARTMENT HEAD</option>
                </select>
                <div class="invalid-feedback">
                  select designation.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-server"
                    aria-hidden="true"></i></label>
                <select formControlName="departmentId"
                  [ngClass]="{'is-invalid': (registerForm.controls.departmentId.touched || submitted) && (registerForm.controls.departmentId.errors?.required ||registerForm.controls.departmentId.errors),
                                'is-valid': ((registerForm.controls.departmentId.touched ) && !registerForm.controls.departmentId.errors?.required && !registerForm.controls.departmentId.errors)}"
                  class="form-select" id="inputGroupSelect02">
                  <option value="" selected disabled hidden>Choose Department</option>
                  <option *ngFor="let dept of this.departments" value="{{dept.departmentId}}">
                    {{dept.departmentName}}</option>
                </select>
                <div class="invalid-feedback">
                  select department.
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success form-control mr-3">SUBMIT<span class="fa fa-paper-plane"
              aria-hidden="true"></span></button>
        </form>
      </div>
    </div>
  </div>
</div>